<section class="reset-password">
  <div class="contents">
    <div class="reset-password-area">
      <div class="reset-password-area__logo">
        <img src="assets/images/background/logo.svg" alt="logo">
      </div>
      <form nz-form [formGroup]="validateForm" class="reset-password-area__form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input new password!">
            <nz-input-group>
              <label>
                <input type="text" nz-input nzSize="large" formControlName="password" placeholder="パスワード" />
              </label>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input re-enter password!">
            <nz-input-group>
              <label>
                <input type="text" nz-input nzSize="large" formControlName="checkPassword" placeholder="パスワード（確認）" />
              </label>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button class="btn-reset-password" nz-button nzType="primary" nzSize="large">設定</button>
      </form>
    </div>
  </div>
</section>
