/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/form/style/index.min.css";
@import "~ng-zorro-antd/input/style/index.min.css";
@import "~ng-zorro-antd/checkbox/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";
@import "~ng-zorro-antd/modal/style/index.min.css";
@import "~ng-zorro-antd/layout/style/index.min.css";
@import "~ng-zorro-antd/select/style/index.min.css";
@import "~ng-zorro-antd/grid/style/index.min.css";
@import "~ng-zorro-antd/table/style/index.min.css";
@import "~ng-zorro-antd/date-picker/style/index.min.css";
@import "~ng-zorro-antd/badge/style/index.min.css";



body {
  margin: 0;
  font-size: 16px;
}

// --------- 1. Sizing -----------
// --------- 2. List style -----------

// 1. Sizing

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.w-100vw {
  width: 100vw;
}

// 2. List style

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
